<div class="container">
<h2>New task</h2>
<%= simple_form_for(@task) do |t| %>
  <%= t.text_field :title, placeholder: "Title"  %>
  <%= t.text_field :details, placeholder: "Details" %>
  <%= t.submit class: "btn btn-primary" %>
<% end %>
</div>